-# <!--
-# <style type="text/css">

-# td {
-#     padding:0 5px 0 15px;
-# }

-# table {
-#     border-collapse: separate;
-#     border-spacing: 0 1em;
-# }

-# .row{
-#   margin: 50px;
-# }


-# </style>

-# <%= stylesheet_link_tag "materialize" %>


-# <p id="notice"><%= notice %></p>


-# <div class="row">

-#   <div class="col-md-8">
-#     <div class="row">
     
-#         <h1>Listing Videos</h1>
      
-#     </div>
-#   </div>

-# </div>


-# <%= form_for_filterrific @filterrific do |f| %>
-#   <div>
-#     Search
-#     <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
-#     <%= f.text_field(
-#       :search_query,
-#       class: 'filterrific-periodically-observed'
-#     ) %>
-#   </div>
-#   <div>
-#     Registered after
-#     <%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
-#   </div>
-#   <div>
-#     Sorted by
-#     <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
-#   </div>
-#   <div>
-#     <%= link_to(
-#       'Reset filters',
-#       reset_filterrific_url,
-#     ) %>
-#   </div>
-#   <%# add an automated spinner to your form when the list is refreshed %>
-#   <%= render_filterrific_spinner %>
-# <% end %>

-# <%= render(
-#   partial: 'videos/list',
-#   locals: { videos: @videos }
-# ) %>

-# -->

.page-header{ :style => 'margin-bottom: 70px;' }
  
 
%div{:class => "pure-u-lg-1-12"}
.well{:class => "pure-u-lg-5-6"}
  = form_for_filterrific @filterrific do |f|
    .row
      
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Search by video name.' }
          %label Search
          = f.text_field :search_query,
                         :class => 'filterrific-periodically-observed form-control'
      -# .col-md-3
      -#   .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by country.' }
      -#     %label Country
      -#     = f.select :with_country_id,
      -#                @filterrific.select_options[:with_country_id],
      -#                { :include_blank => '- Any -' },
      -#                { :class => 'form-control' }
      .col-md-2
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by registration date.' }
          %label Registered after
          = f.text_field :with_created_at_gte,
                         :class => 'js-datepicker form-control'
      .col-md-4
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Change the sorting.' }
          %label Sorted by
          = f.select :sorted_by,
                     @filterrific.select_options[:sorted_by],
                     {},
                     { :class => 'form-control' }

#results
  = render :partial => 'videos/list',
           :locals => { :videos => @videos },
           :class => "pure-u-lg-1-2"

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
