<!DOCTYPE html>
<html>
  <head>
    <title>VSA</title>    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    
    <%= stylesheet_link_tag "pure-min" , media: "all"%>
    <%= stylesheet_link_tag "grids-responsive-min" , media: "all"%>
    <%= stylesheet_link_tag "font-awesome" , media: "all"%>
    <%= stylesheet_link_tag "marketing" , media: "all"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %> 
    
  </head>

  <body>
 
<%#</div>%>
    <%= render "layouts/navigation" %>
    <div class="main_container">
      <%= yield %>
    </div>   
  </body>
</html>
